<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kristof Pambid - Portfolio</title>
    <link rel="icon" href="2x2.jpg" type="image/jpg"> 
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Life+Savers&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <nav>
            <ul>
                <li><a href="#about">Kristof Pambid | Graphic Designer | Web Developer</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#social-links">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about" class="about">
            <div class="about-container">
                <h2>About Me</h2>
                <p>Hi, I'm <strong>Kristof Pambid</strong>, a recent graduate in <strong>Information Technology</strong> with a passion for web development and vector art.</p>
                <p>I combine technical skills with creative flair to deliver high-quality digital solutions.</p>
                <div class="education">
                    <h3><i class="fas fa-graduation-cap"></i> Education</h3>
                    <p>BS in Information Technology</p>
                    <p>Polytechnic University of the Philippines - Santa Mesa</p>
                    <p>2020 - 2024</p>
                </div>
            </div>

            <div class="skills-container">
                <h2>Technical Skills</h2>
                    <div class="skill-category">
                        <h3><i class="fas fa-code"></i> Programming Language</h3>
                        <ul>
                            <li><i class="fab fa-python"></i> Python</li>
                            <li><i class="fab fa-html5"></i> HTML</li>
                            <li><i class="fab fa-css3-alt"></i> CSS</li>
                            <li><i class="fab fa-sass"></i> SCSS</li>
                        </ul>
                    </div>

                    <div class="skill-category">
                        <h3><i class="fas fa-code"></i> Technologies/Frameworks</h3>
                        <ul>
                            <li><i class="fab fa-python"></i> Django</li>
                            <li><i class="fab fa-react"></i> ReactJS</li>
                            <li><i class="fab fa-bootstrap"></i> Bootstrap</li>
                        </ul>
                    </div>

                    <div class="skill-category">
                        <h3><i class="fas fa-code"></i> Developer Tools</h3>
                        <ul>
                            <li><i class="fas fa-code"></i> Visual Studio Code</li>
                            <li><i class="fas fa-database"></i> MySQL</li>
                            <li><i class="fab fa-git-alt"></i> Gitlab</li>
                            <li><i class="fab fa-github"></i> Github</li>
                            <li><i class="fas fa-database"></i> Sqlite3</li>
                        </ul>
                    </div>

                    <div class="skill-category">
                        <h3><i class="fas fa-code"></i> Design Tools</h3>
                        <ul>
                            <li><i class="fab fa-figma"></i> Figma</li>
                            <li><i class="fas fa-paint-brush"></i> Illustrator</li>
                            <li><i class="fas fa-paint-brush"></i> Canva</li>
                            <li><i class="fas fa-paint-brush"></i> Photoshop</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="experience" class="experience-container">
                <h2>Professional Experience</h2>
                <div class="experience-item">
                    <h3><i class="fas fa-code"></i> 
                        <a href="https://lexmeet.com/" target="_blank" style="text-decoration: none;">
                            Lexmeet, Inc. – Front End and Quality Assurance Intern
                        </a> 
                    </h3>
                    <p class="date">March 2024 – June 2024</p>
                    
                        <p>Developed webpages using <strong>ReactJS</strong> with <strong>Vite</strong>, <strong>HTML</strong>, <strong>SCSS</strong>, and <strong>Bootstrap</strong>.</p>
                        <p>Designed website wireframes using <strong>Figma</strong>.</p>
                        <p>Conducted daily <strong>QA testing</strong> and generated detailed reports.</p>

                </div>
                <div class="experience-item">
                    <h3><i class="fas fa-code"></i>
                        <a href="https://github.com/krstfpmbd20/course_u" target="_blank" style="text-decoration: none;">
                            Course-University Web-App | Backend | QA Tester | Project Manager
                        </a> 
                    </h3>
                    <p class="date">2023 - 2024</p>
                    
                        <p>Managed database tasks and established table relationships.</p>
                        <p>Handled <strong>QA testing</strong> for continuous bug detection.</p>
                        <p>Led as project manager overseeing team communication.</p>
                    
                </div>
            </div>    

            <div class="nontech-container">        
                <h2>Freelance Works</h2>
                <div class="nontech-item">
                    <h3><i class="fas fa-paint-brush"></i> 
                        <a href="https://www.canva.com/p/nilikha" target="_blank" style="text-decoration: none;">
                            Canva | Freelance Graphic Design Contributor
                        </a>
                    </h3>
                    <p class="date">2020 - Present</p>

                        <p>Contributed over 7,000 vector stock media.</p>

                </div>

                <div class="nontech-item">
                    <h3><i class="fas fa-paint-brush"></i> 
                        <a href="https://stock.adobe.com/ph/contributor/210318643/Kristof" target="_blank" style="text-decoration: none;">
                            Adobe Stock | Freelance Graphic Design Contributor
                        </a>
                    </h3>
                    <p class="date">2021 - Present</p>

                        <p>Contributed over 13,000 vector stock media.</p>

                </div>
                
                <div class="nontech-item">
                    <h3><i class="fas fa-paint-brush"></i> 
                        <a href="https://www.facebook.com/manxfunfarm/" target="_blank" style="text-decoration: none;">
                            Manx Fun Farm
                        </a>    
                    </h3>
                    <p class="date">January 2023 – March 2023</p>

                    <p>I created vector illustrations for Manx Fun Farm <br> specifically tailored to their fun and carnival-themed activities.</p>

                </div>

                <div class="nontech-item">
                    <h3><i class="fas fa-paint-brush"></i> 
                        <a href="https://chicktown.my.canva.site/" target="_blank" style="text-decoration: none;">
                            Chick Town
                        </a>
                    </h3>
                    <p class="date">January 2023 – March 2023</p>

                        <p>I designed a logo for Chick Town and created a website mockup <br> using <strong>Figma</strong>, <strong>Illustrator</strong>, and <strong>Canva</strong>.</p>

                </div>
            </div>
        </section>        

        <!-- <section id="experience" class="experience">
            
        </section> -->

        <footer>
            <nav>
                <ul>
                    <li><a href="#header">© 2024 Kristof Pambid. All rights reserved.</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <div id="social-links" class="social-links">
                        <a href="https://www.facebook.com/pengengwipes" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://github.com/krstfpmbd20" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/kristof-pambid-2a6503203/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://maps.app.goo.gl/4u8u316ad4sHZN197" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
                    </div>    
                </ul>
            </nav>
        </footer>
    </main>    
</body>
</html>
